<div class="row">
    <div class="col-md-12">

          <div class="form-check">
              <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
              Kmeans <button class="btn"><fa name="ellipsis-h"></fa></button>
            </div>
            <div class="form-check">
              <input class="form-check-input position-static" type="checkbox" id="blankRadio1" value="option1" aria-label="...">
              KNN <button class="btn"><fa name="ellipsis-h"></fa></button>
          </div>
          <div class="form-check">
              <input class="form-check-input position-static" type="checkbox" id="blankRadio1" value="option1" aria-label="...">
              Linear regression <button class="btn"><fa name="ellipsis-h"></fa></button>
          </div>

    </div>
  </div>
