<div class="row">
    <div class="col-md-12">

          <div class="form-check">
              <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
              Kmeans <app-kmean-para-modal></app-kmean-para-modal>
            </div>
            <div class="form-check">
              <input class="form-check-input position-static" type="checkbox" id="blankRadio1" value="option1" aria-label="...">
              KNN <app-knn-para-modal></app-knn-para-modal>
          </div>
          <div class="form-check">
              <input class="form-check-input position-static" type="checkbox" id="blankRadio1" value="option1" aria-label="...">
              Linear regression <app-linearreg-para-modal></app-linearreg-para-modal>
          </div>

    </div>
  </div>
