<div class="row">
    <div class="col-md-12">

          <div class="form-check">
              <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
              Display plots
            </div>
            <div class="form-check">
              <input class="form-check-input position-static" type="checkbox" id="blankRadio1" value="option1" aria-label="...">
              Download folder
          </div>

    </div>
  </div>

  <!-- <div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-info" (click)="changePage(-1)">Back</button>

        <button type="button" class="btn btn-info">Finish</button>
    </div>
  </div> -->
