<div class="center">
    <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)"
    (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
          <fa name="folder"></fa>
           Drag and drop files
          <!-- <button type="button" (click)="openFileSelector()">Browse Files</button> -->
        </ng-template>
    </ngx-file-drop>
    <br>
    <div class="upload-table">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <!-- <th>Size</!-->
                </tr>
            </thead>
            <tbody class="upload-name-style">
                <tr *ngFor="let item of files; let i=index">
                    <td>{{ item.relativePath }}</td>
                    <!-- <td>{{ item.fileEntry.isFile }}</td> -->
                </tr>



            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <button type="button" class="btn btn-primary" style="text-align: right">Proceed</button>
          <!-- <app-missing-header-row></app-missing-header-row> -->
    </div>
</div><br>
<div class="row">
    <div class="col-md-12">
        Do you want to combine multiple csv files?<br><br>
        <app-combine-csv-modal></app-combine-csv-modal>
        <!-- <button type="button" class="btn btn-primary" style="text-align: right">Combine csvs</button> -->
    </div>
</div>
