  <ngb-tabset class="tabset1">
    <ngb-tab title="Data Selection">
      <ng-template ngbTabContent>
        <app-data-selection></app-data-selection>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Data Cleaning">
      <ng-template ngbTabContent>
        <app-data-cleaning></app-data-cleaning>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Data Transformation">
      <ng-template ngbTabContent>
        <app-data-transformation></app-data-transformation>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Data Mining">
      <ng-template ngbTabContent>
        <app-data-mining></app-data-mining>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Knowledge Presentation">
      <ng-template ngbTabContent>
        <app-knowledge-presentation></app-knowledge-presentation>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>

  <!-- <div class="row">
      <div class="col-md-12">

            <button class="btn btn-outline-primary" (click)="t.select('tab-selectbyid2')">Selected tab with "tab-selectbyid2" id</button>

      </div>
    </div> -->
    <!-- <div class="row">

            <button type="button" class="btn btn-info" (click)="changePage(-1)">Back</button>

            <button type="button" class="btn btn-info" (click)="changePage(1)">Next</button>

    </div> -->
