<div class="row">
    <div class="col-md-12">

          <div class="form-check">
              <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
              Binning
            </div>
            <div class="form-check">
              <input class="form-check-input position-static" type="checkbox" id="blankRadio1" value="option1" aria-label="...">
              Encoding
          </div>
          <div class="form-check">
              <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
              Categorizing
            </div>
            <div class="form-check">
              <input class="form-check-input position-static" type="checkbox" id="blankRadio1" value="option1" aria-label="...">
              Binarize
          </div>
          <div class="form-check">
              <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
              Standardize
            </div>
            <div class="form-check">
              <input class="form-check-input position-static" type="checkbox" id="blankRadio1" value="option1" aria-label="...">
              Normalize
          </div>
          <div class="form-check">
              <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
              Rescale
            </div>
    </div>
  </div>

  <div class="row">
      <div class="col-md-12">
              <button type="button" class="btn btn-info">Back</button>
              <button type="button" class="btn btn-info">Next</button>
      </div>
  </div>
