<button type="button" class="btn btn-info"
      (click)="openModal(template)">
      <fa name="plus"></fa>
      New project
</button>

  <ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Create new project</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Enter project name:</label>
            <input [(ngModel)]="name" name= "name" type="text" class="form-control" id="recipient-name">
          </div>
      </form>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Cancel</button>
      <button type="button" class="btn btn-info" (click)="save()">Save</button>
  </div>
  </ng-template>

