<div class="card">
    <div class="card-body">
        <div class="form-check">
          <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
          GLOBALEVENTID
        </div>
        <div class="form-check">
            <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
            SQLDATE
        </div>
        <div class="form-check">
            <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
            Year
        </div>
        <div class="form-check">
            <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
            Actor2Name
        </div>
        <div class="form-check">
            <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
            SOURCEURL
        </div>
    </div>
  </div>
