<button type="button" class="btn btn-info"
      (click)="openModal(template)">
      <fa name="compress"></fa>
      Combine CSVs
</button>

  <ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Combine multiple csv files</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="center">
          <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)"
          (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)" multiple="true">
              <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                <fa name="folder"></fa>
                 Drag and drop files
                <!-- <button type="button" (click)="openFileSelector()">Browse Files</button> -->
              </ng-template>
          </ngx-file-drop>
          <br>
          <div class="upload-table">
              <table class="table">
                  <thead>
                      <tr>
                          <th>Name</th>
                          <!-- <th>Size</!-->
                      </tr>
                  </thead>
                  <tbody class="upload-name-style">
                      <tr *ngFor="let item of files; let i=index">
                          <td>{{ item.relativePath }}</td>
                          <!-- <td>{{ item.fileEntry.isFile }}</td> -->
                      </tr>



                  </tbody>
              </table>
          </div>
      </div>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Cancel</button>
      <button type="button" class="btn btn-info" (click)="saveModal()">Proceed</button>
  </div>
  </ng-template>
