<div class="row">
    <div class="col-md-12">
          <!--select columns-->
          <div class="form-check">
              <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" (change)="isCollapsed1 = !isCollapsed1"
              [attr.aria-expanded]="!isCollapsed1" aria-controls="collapseExample1">
              Select columns for analysis
              <div id="collapseExample1" [ngbCollapse]="isCollapsed1">
                  <!--select columns values component-->
                  <app-select-columns></app-select-columns>
              </div>
          </div>

          <!--select rows-->
          <div class="form-check">
              <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" (change)="isCollapsed1 = !isCollapsed1"
              [attr.aria-expanded]="!isCollapsed1" aria-controls="collapseExample1">
              Select rows for analysis
              <div id="collapseExample1" [ngbCollapse]="isCollapsed">
                  <!--select rows values component-->
                  <app-select-rows></app-select-rows>
              </div>
          </div>


    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
        <!-- <button type="button" class="btn btn-info" (click)="changePage(-1)">Back</button> -->
        <button type="button" class="btn btn-info">Next</button>
    </div>
  </div>
