<div class="row">

  <div class="col-md-12">
      <div class="card">
          <h5 style="margin: 10px">Input pane</h5>
        <div class="card-body">
            <!-- <div class="file-upload-wrapper">
                <input type="file" id="input-file-now" class="file-upload" />
            </div> -->
            <div class="center">
                <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)"
                (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
                    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                        Drag and Drop files here
                      <!-- <button type="button" (click)="openFileSelector()">Browse Files</button> -->
                    </ng-template>
                </ngx-file-drop>
                <div class="upload-table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody class="upload-name-style">
                            <tr *ngFor="let item of files; let i=index">
                                <td><strong>{{ item.relativePath }}</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-4">
              <button type="button" class="btn btn-primary" style="text-align: right">Proceed</button>
              <!-- <app-missing-header-row></app-missing-header-row> -->
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                Do you want to combine multiple csv files?<br>
                <button type="button" class="btn btn-primary" style="text-align: right">Combine csvs</button>
            </div>
          </div>


      </div>

  </div>
</div>

