.terminal{
    background: black;
    color: white;
    font-family: 'Ubuntu Mono', monospace;
    padding: 10px;
    height: 100px;
    overflow: hidden;
  }
  
  .line{
    display: table;
    width: 100%;
  }
  
  .terminal span{
    display:table-cell; 
    width:1px;
  }
  
  .terminal input{
    display:table-cell; 
    width:100%;
    border: none;
    background: black;
    color: white;
    outline: none;
  }