<button class="btn"
      (click)="openModal(template)">
      <fa name="ellipsis-h"></fa>
</button>

<ng-template #template>
<div class="modal-header">
  <h4 class="modal-title pull-left">Select values</h4>
  <button type="button" class="close pull-right"
    aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <form>
  <div class="form-group">
    <div class="form-check">
              <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
              2018
              </div>
    <div class="form-check">
              <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
              2019
              </div>
  </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Cancel</button>
    <button type="button" class="btn btn-info" (click)="save()">Save</button>
</div>
</ng-template>
